

/* 
a-propos.astro
*/

.a-propos h1 {
    font-size: clamp(1.5rem, 5vw, 1.8rem);
  }
  
  .debuts h3,
  .sequence h3 {
    color: var(--primary-color);
  }
  
  .diapo {
      margin-left: 0;
    }
  
  .author-nerva {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 3rem; 
    color: var(--primary-color); 
  }
  
  @media (max-width: 940px) {
    .debuts .title-wrapper {
      padding: 20px;
    }
  
    .debuts .image-wrapper img {
      max-height: 700px;
    }
  }
  
  