---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="À Propos - Jean-Marc Favre | Photographe Drone Annecy depuis 40 ans"
  description="Photographe et pilote de drone professionnel à Annecy. Découvrez mon parcours de 40 ans dans la photographie sportive et événementielle en Haute-Savoie."
  image="/images/collages/a-propos-collage-1160x1388.png"
  canonical="/a-propos/"
>

   <div class="header-spacer"></div>
   
   <div class="container mb-5">
      <section class="a-propos">
         <div class="container-medium">
            <div class="row align-center">
               <div class="col-md-6">
                  <div class="text-wrap">
                     <div class="title-wrapper">
                        <h1 class="text-center mb-1">à propos</h1>
                        <h2 class="text-center">UNE VIE À TRAVERS MON OBJECTIF</h2>
                     </div>
                     <div class="text-wrapper">
                        <p>Basé à <b>Annecy</b>, au cœur des Alpes françaises, je suis Jean-Marc Favre, un photographe et vidéaste dont la passion pour les montagnes et les sports de glisse a bâti ma réputation en photographie extrême.</p>
                        <p>Avec <b>plus de 30 ans d'expérience</b> dans l'image, mon esprit explorateur m'a mené à diversifier mes compétences. J'interviens désormais dans des domaines variés tels que la gastronomie et l'immobilier, toujours avec l'ambition d'offrir des images qui racontent, captent une ambiance ou subliment un produit.</p>
                        <p>Mon expertise s'étend à la <b>production et réalisation vidéo</b>, où j'innove constamment avec des angles et perspectives uniques. <b>Pilote de drone certifié DGAC</b> depuis 2011, j'intègre des vues aériennes époustouflantes, enrichissant chaque projet photo et vidéo.</p>
                        <p>Guidé par la qualité et l'innovation, chaque mission est pour moi une nouvelle aventure, une opportunité de repousser les limites de la créativité, que ce soit au sol ou dans les airs.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="image-wrapper padding-2">
                     <img src="/images/collages/a-propos-collage-1160x1388.png" alt="Collage representant Jean-Marc Favre">
                  </div>
               </div>
            </div>
         </div>
         <div class="container-content">
            <p>Je suis actuellement sous contract avec des entités de renom tels que <b>le Grand Annecy</b>, <b>le Domaine de Blacailloux</b>, ainsi que les <b>promoteurs immobiliers Barrachin et Teractem</b>. Fournisseur attitré pour <b>France TV</b> et <b>FR3</b>, et correspondant dévoué pour <b>Le Dauphiné Libéré</b>, je leur fournis des images aériennes captivantes qui racontent des histoires du ciel. Chaque projet est une opportunité de démontrer mon expertise, en délivrant des résultats de qualité qui captent l'essence des visions les plus ambitieuses de mes clients.</p>
         </div>
      </section>
   </div>

   <section class="parallax-banner" style="background-image: url('/images/parallax/900500125.jpg');">
   <div class="parallax-banner-overlay"></div> 
   <img 
      src="/images/parallax/900500125.jpg" 
      alt="Photo séquence en snowboard" 
      class="parallax-mobile-img" 
      loading="lazy"
   >
</section>

   <div class="container mt-2">
      <section class="debuts mb-2">
         <div class="row mob-rev align-center pt-4 pb-4">
            <div class="col-md-4 diapo">
               <div class="image-wrapper">
                  <img src="/images/collages/diaporama1-1098x1496.png" alt="Collage representant Jean-Marc Favre">
               </div>
            </div>
            <div class="col-md-8">
               <div class="text-wrap spacing-1">
                  <div class="title-wrapper">
                     <h2>Mes Débuts</h2>
                     <h3>L'UNIVERS DE LA GLISSE</h3>
                  </div>
                  <div class="two-column-text mr-4">
                     <div class="text-wrapper text-nerva">
                        <p>«Enraciné sur les bords du Lac d’Annecy depuis plusieurs générations, Jean Marc Favre a longtemps hésité entre la musique, l’architecture et la photo. Son diplôme de moniteur de ski l’incite à s’installer à Val Thorens, où il est bombardé en quelques mois « photographe officiel » des Virolins (ex-futur Malboro Ski Show). Adieu les études, adieu la batterie !</p>
                        <p>Le photographe officiel savoure alors la vie facile des stations avec ses fêtes, ses jolies filles et surtout la période faste et enivrante de la naissance des nouvelles glisses, monoski et snowboard.</p>
                        <p>Alors éternellement coiffé d’un chapeau à larges bords et fièrement auto-labellisé Sliding Cokonuts (le gang des glisseurs de Val Tho qu'il a fondé avec son ami Jean-Yves Lautrédou), Jean Marc écume tous les spots des 3 Vallées pour rapporter les premières images de ces formes de glisse dites nouvelles. Entreprenant, il collabore avec Bruno Cormier et Bruno Gouvy à la réalisation du magazine et de l’agence Vertical. Il n’hésite pas à s’investir et signe les tout premiers catalogues d’une petite entreprise de surfwear alors inconnue, Oxbow. Il participe dans la foulée au lancement de la photothèque parisienne Stockimage, et assoit définitivement son image snowboard en devenant le photographe officiel de l’AFS (Association Française de Snowboard) et le photographe des sports de glisse pour Vandystadt.</p>
                        <p>C’est au début des années 90 que Jean Marc, à l’instar des nouvelles glisses, explose professionnellement. Mais il reste fidèle à ses amours originelles et, pendant quatre ans, il organise avec son « pote » Jean Yves et quelques amis -et ce bien avant la mode des « événements snow »- les mythiques Pow Wow de la glisse. Ces grosses fêtes païennes dédiées à la glisse sous toutes ses formes ont été le rendez-vous incontournable et très attendu des glisseurs du monde entier. Jean Marc Favre a une réputation de sérieux et de professionnalisme et ce n’est pas un hasard si, peu à peu, ses clichés dépassent le cadre un peu restreint des magazines spécialisés pour s’étaler dans les pages des plus grands magazines.</p>
                        <p>Jean Marc pourrait être défini comme une espèce de « photo-mateur » multidirectionnel. Il est partout car, vu son caractère, personne n’hésite à l’emmener sur des shoots délicats. Il voit tout car il a déjà beaucoup vu et beaucoup promené son regard sur toutes les pentes de la planète. Et surtout il assure tout, car techniquement il sait tout faire et il le fait très bien. Toujours à la pointe de la technique, de la mode et du « move », il s’est imposé comme un protagoniste incontournable du free-style et du free-ride. Ses montages-séquences de décomposés d’actions, les premières du genre, témoignent dans les magazines du monde entier de sa passion et de sa maîtrise de l’outil numérique.</p>
                        <p>Si son professionnalisme le pousse à diriger sa propre agence, Wooloomooloo, et à se lancer dans l’aventure du multimédia, Jean Marc n’en conserve pas moins un étonnant romantisme : pour lui la photo reste avant tout une porte ouverte sur le rêve, un moyen de rencontrer l’autre et un certain art de vivre. Il est incontestablement un homme heureux et convaincu d’exercer un des plus beaux métiers du monde !»</p>
                     </div>
                     <p class="author-nerva text-right">Texte de Jean Nerva RIP (ex-rédacteur en chef de Riders Mag, ex champion du monde de snowboard)</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="container-medium sequence">
         <div class="row mb-5">
            <div class="col-md-8">
               <div class="text-wrap">
                  <div class="title-wrapper">
                     <h3>1994</h3>
                     <h2>PHOTO SEQUENCE</h2>
                  </div>
                  <div class="text-wrapper">
                     <p>Mon expertise pointue dans le domaine de la retouche d'images me permet de développer en 1994 le concept novateur de la séquence photo décomposée baptisée "all in one". Cette approche révolutionnaire a captivé les magazines spécialisés dans le domaine du sport, qui ont rapidement intégré ces séquences dans leurs rubriques. Pendant deux années consécutives, j'ai également assuré une double page de "décryptage" dans l’Equipe Mag, mettant en lumière les subtilités visuelles de cette méthode.</p>
                     <p>Là où les contraintes techniques ou budgétaires rendent une image impossible, ma palette graphique entre en scène pour un résultat visuel captivant! </p>
                  </div>
                  <a class="link" href="/collections-visuelles#sequence-gallery" aria-label="Voir la galerie photo séquence">Voir la galerie photo</a>
               </div>
            </div>
            <div class="col-md-4">
               <figure class="image-wrapper">
                  <img src="/images/sequence-michaud-seb-919x1200.jpg" alt="photo séquence Seb Michaud pour Skieur Mag 00, Val Thorens, 1994">
                  <figcaption class="text-right">
                     Photo séquence Seb Michaud pour Skieur Mag 00, 
                     <br>Val Thorens, 1994
                  </figcaption>
               </figure>
            </div>
         </div>
      </section>
   </div>

   <section class="parallax-banner" style="background-image: url('/images/parallax/jmf1-1530x992.jpg');">
      <div class="parallax-banner-overlay"></div> 
         <img 
            src="/images/parallax/jmf1-1530x992.jpg" 
            alt="Jean-Marc Favre en snowboard" 
            class="parallax-mobile-img" 
            loading="lazy"
         >
   </section>


   <div class="container debuts mt-2">
      <section class="container-content photo-presse">
         <div class="text-wrap mt-3 mb-5">
            <h2>Presse <b><i>&</i></b> Archives</h2>
            <p>Au fil de ma carrière, mes photographies ont été largement diffusées et utilisées à travers divers médias. On les retrouve notamment dans des articles et reportages de magazines, en couvertures de publications variées, ainsi que pour des campagnes publicitaires et l'illustration d'ouvrages de référence.</p>
            <a class="link" href="/presse-archives" aria-label="Accéder aux archives">Accéder aux archives</a>
         </div>
      </section>
   </div>


</Layout>