---
// Tina CMS Admin Page
export const prerender = false;
---

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tina CMS</title>
</head>
<body>
  <div id="root"></div>
  <script type="module" src="/@fs/Users/tais/Desktop/Websites/jeanmarcfavre/node_modules/tinacms/dist/index.js"></script>
</body>
</html>

