---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mentions Légales - Jean-Marc Favre">
   <div class="container">
      <div class="container-content">
         <div class="text-wrap">
            <div class="title-wrapper text-center">
               <h1>Mentions Légales</h1>
               <p>Dernière mise à jour : 05 Mars 2024</p>
            </div>
            <section class="cgu-text-wrapper">
               <h2>Éditeur du site</h2>
               <p>Taïs Favre</p>
            </section>
            <section class="cgu-text-wrapper">
               <h2>Contact</h2>
               <address>
                  <p>Courriel : <a href="mailto:contact@jeanmarcfavre.com">contact@jeanmarcfavre.com</a></p>
                  <p>Téléphone : <a href="tel:+33607596969">+33 6 07 59 69 69</a></p>
                  <p>Ligne Fixe : <a href="tel:+33450522429">+33 4 50 52 24 29</a></p>
                  <p>8 rue de Chanteloup</p>
                  <p>74000 Annecy, France</p>
               </address>
            </section>
            <section class="cgu-text-wrapper">
               <h2>Propriété intellectuelle et Droits d'auteur</h2>
               <p>
                  Ce site et l'ensemble de son contenu, y compris mais sans s'y limiter, les textes, images, graphiques, logos, vidéos, et codes source, sont la propriété exclusive de Jean-Marc Favre. Ils sont protégés par les lois françaises et internationales sur le droit d'auteur.
               </p>
               <p>
                  <strong>Toutes les photographies et vidéos présentes sur ce site sont la propriété exclusive de Jean-Marc Favre. Aucune reproduction, copie, téléchargement, manipulation ou utilisation de quelque manière que ce soit n'est autorisée sans l'autorisation écrite préalable du photographe.</strong>
               </p>
            </section>
            <section class="cgu-text-wrapper">
               <h2>Autorisations</h2>
               <p>
                  Pour toute demande d'autorisation concernant l'utilisation de photographies ou vidéos présentes sur ce site, veuillez contacter Jean-Marc Favre par courriel à <a href="mailto:contact@jeanmarcfavre.com">contact@jeanmarcfavre.com</a>.
               </p>
            </section>
            <section class="cgu-text-wrapper">
               <h2>Responsabilité</h2>
               <p>
                  Jean-Marc Favre décline toute responsabilité quant à l'utilisation non autorisée ou abusive de son contenu. L'éditeur se réserve le droit d'engager des poursuites judiciaires pour toute violation de ses droits d'auteur.
               </p>
            </section>
            <section class="cgu-text-wrapper">
               <h2>Hébergement</h2>
               <p>
                  Ce site est hébergé par Gandi à l'adresse <a href="https://www.gandi.net/fr" target="_blank" rel="noopener noreferrer">https://www.gandi.net/fr</a>.
               </p>
            </section>
            <section class="cgu-text-wrapper">
               <h2>Données personnelles</h2>
               <p>
                  Pour plus d'informations sur la collecte et le traitement des données personnelles, veuillez consulter notre <a href="/politique-de-confidentialite" class="link-text">Politique de Confidentialité</a>.
               </p>
            </section>
         </div>
      </div>
   </div>
</Layout>