---
import Layout from "../layouts/Layout.astro";
---

<Layout 
  title="Boutique Photo | Tirages et Impressions - Jean-Marc Favre"
  description="Achetez des tirages photographiques de Jean-Marc Favre. Photos d'art, paysages des Alpes, sports extrêmes. Impressions haute qualité."
  canonical="/shop/"
>
  <div class="header-spacer"></div>
  <div class="container-medium shop-container text-center">
    <h1>Boutique</h1>
    <p>La boutique est en cours de préparation et sera bientôt disponible !</p>
    <img src="/images/shop-1394x837.jpg" alt="trois photos imprimées et encadrées" class="image-shop">
  </div>
</Layout>
