---
import '../styles/components/navigation.css';
import '../styles/global.css';
import '../styles/utilities.css';
import '../styles/pages/shared.css';
import '../styles/pages/admin.css';

interface Props {
  title?: string;
}

const { 
  title = 'Administration - Blog'
} = Astro.props;
---

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="noindex, nofollow" />
        <meta name="description" content="Administration du blog" />
        <link rel="icon" type="image/png" href="/logo/signature-500x173-black.png" />
        <title>{title}</title>
    </head>

    <body>
        <main>
    		<slot />
  		</main>
    </body>
</html>

